{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/assets/img/login-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="page-heading">
            <h1>Log In</h1>
            <span class="subheading">to join back the community</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="container d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col">
      <div class="px-4 py-5 my-5 text-center">

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning mb-5" role="alert">
{{ message }}
</div>


{% endfor %}
{% endif %}
{% endwith %}


        {{ render_form(form) }}


      </div>
    </div>
  </div>
</div>




{% endblock %}