{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/assets/img/register-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register</h1>
            <span class="subheading">to see full content</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="container d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col">
      <div class="px-4 py-5 my-5 text-center">

{{ render_form(form) }}

      </div>
    </div>
  </div>
</div>

{% endblock %}